/* Add here all bounty CSS */
.bounty-bg{
    background-color:#06170d;
}
.bounty-container{
	background-size: contain;
	background-position: center top;
	padding-bottom:150px;
	margin-bottom:0px;
	padding-top:100px;
	background-image: url(../img/BG/bounty.jpg);
	background-repeat: no-repeat;
}
.bounty-header{
    padding-top:50px;
}
.bounty-title {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    background-image: linear-gradient(to right, #3988ac, #42a833);
    color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 0px !important;
    margin-top: 60px;
    margin-bottom: 15px;
}
.bounty-sub-title {
    text-align: center;
    color: #fff;
    font-size: 2.1em;
    font-weight: 700;
    line-height: 1;
    margin-top: 5rem !important;
	margin-bottom: 20px !important;
}
.bounty-sublabel {
    text-align: left;
    color: #49ddff;
    font-size: 25px;
    font-weight: 400;
    padding-top: 8px;
	margin-bottom:15px;
    letter-spacing: 1px;
}
.bounty-rules {
    color: #ffffff;
    font-size: 16px;
	text-align:left;
}
.bounty-rules ul {
	margin-left: -17px;
}
.bounty-rules ul li {
	text-indent:-23px;
	margin-bottom:5px;
	margin-left: 0px;
	list-style-type: none;
}
.bounty-rules .sub-topic {
	font-size: 20px;
	text-indent: -17px;
	margin-top:10px;
	margin-bottom:10px;
	list-style-type: none;
}
#youtube-bounty, #facebook-bounty, #twitter-bounty, #telegram-bounty, #instagram-bounty {
	margin-top:75px;
	clear:both;
}
.facebook-bounty_logo img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom:-70px;
	max-width:90px;
}
.facebook-bounty-small {
    font-size: 16px;
	color: #fff;
    text-align: center;
    padding-bottom: 10px;
    margin: auto;
}
.bounty-detail {
    color: #fff;
    text-align: center;
    padding-top: 20px;
}
.bounty-blocks {
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom:30px;
	text-align: center;
	font-size:16px;
	color: #ffffff;
	border: 2px solid #092010;
	/* For WebKit */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(1,83,16,0.5)), to(rgba(47,108,42,0.5)));
	/* For Mozilla */
	background: -moz-linear-gradient(top, rgba(1,83,16,0.5), rgba(47,108,42,0.5));
	/* For lt IE8 */
	filter: progid:DXImageTransform.Microsoft.gradient(gradientyype=0, startColorstr='#88ff0000', endColorstr='#3300ff00');
	/* For gt IE8 */
	-moz-filter: progid:DXImageTransform.Microsoft.gradient(gradientyype=0, startColorstr='#88ff0000', endColorstr='#3300ff00');
	
	margin-left: auto;
	margin-right: auto;
}
.bounty-blocks span {font-size:18px; font-weight:600;}
	
.bounty-blocks:hover {
	/* For WebKit */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(57,136,172,0.5)), to(rgba(66,168,51,0.5)));
	/* For Mozilla */
	background: -moz-linear-gradient(top, rgba(57,136,172,0.5)), rgba(66,168,51,0.5));
	/* For lt IE8 */
	filter: progid:DXImageTransform.Microsoft.gradient(gradientyype=0, startColorstr='#3988ac', endColorstr='#42a833');
	/* For gt IE8 */
	-moz-filter: progid:DXImageTransform.Microsoft.gradient(gradientyype=0, startColorstr='#3988ac', endColorstr='#42a833');
}