.top-bg {
    background: url(../images/main-bgr.png) no-repeat;
    background-size: cover;
	min-height: 100vh;
}
.countdown-box {
    background: #efd10b; 
}
.dif1{color:#000;}
.countdown-box .token-countdown .countdown-text {color: #000;}
.countdown-box .token-countdown .countdown-time {color: #000;}
.countdown-box .token-countdown .countdown-time:after {color:#000;}

.site-header .navbar.is-transparent {
    background: #000;
}	

.align-items-center{padding:50px 0 0px 0;}
	
.m_tl {
    margin: 10px 0px 0px 20px;
    display: inline-block;
    vertical-align: top;
}


.login-container1{
		background:#f0d20b;        
    }
	
	.login-container2{
        width: 100%;
    background: url(../images/parallax-bg1.jpg);
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-position: center;
    z-index: 1; 
min-height: 70vh;	
    }
	



    .login-container{
        /*background: url('../images/login_back.jpg') no-repeat ;
		min-height: 80vh;
        max-width: 1400px;*/
		background:#f5f5f5;        
    }

    .login-wpr{
        background: #353535;
		border-top: 5px solid #f0d20b;
		padding: 15px 25px 10px 25px;
		width: 100%;
		    border-radius: 10px;
    box-shadow: 8px 8px 4px #9a9a9a61;
        }

    .login-top{
        text-align: center;
        }

    .login-top img{
        display: block;
        margin: 0 auto;
        padding:0 0 5px 0;
        width: 160px;
        }

    .login-form{
        font-size: 13px;
        margin:20px auto;
        }
		
		.login-form level{color: #fff; font-size: 16px; font-weight: 600;}

    .username, .password{
        border: 1px solid #dedede;
        border-radius:16px;
        display: block;
        height: 36px;
        margin-bottom: 15px;
        padding: 5px 15px;
        width: 100%;
        outline: none;
        }

    .forgot, .not-member{
        color: #fff;
        display: block;
        font-size:13px;
        margin:0 0 8px 8px;
        }

    .not-member{
        padding:0 0 0px 0;
        }

    .forgot:hover, .forgot:focus{
        color: #f0d20b;
        }

    .copy-right{
        border-top: 1px solid #2f2f2f;
        color: #fff;
        margin:10px 0 0 0;
        padding: 20px 0  0 0;
        text-align: center;
        }
		
.underxxt{}
.underxxt h2{font-weight: normal;    margin: 0 0 10px 0;    font-size: 40px;    letter-spacing: -1px;}
.underxxt p{color: #333 !important;    text-align: left !important;    font-size: 18px;    line-height: 25px;}		

.underxxt1{margin-bottom:70px; width: 680px; margin:0 auto; padding-bottom:100px;}
.underxxt1 h3 {font-size: 20px; text-align: center; color: #fff; font-weight: normal;}		
.clor{color: #333; font-weight:500 !important;}
		.form-control1{margin-bottom:20px;}

.submit-btn {
    border-radius: 0 5px 5px 0;
    border: none;
    color: #353535;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 40px;
    display: block;
    margin: 0px 7px 0 -3px;
    max-width: 200px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    background: linear-gradient(319deg, #a36d2a, #f1d20b, #986025);
    background-size: 400% 400%;
    -webkit-animation: AnimationButton 3s ease infinite;
    -moz-animation: AnimationButton 3s ease infinite;
    animation: AnimationButton 3s ease infinite;
}

    .submit-btn:hover{
        cursor:pointer;
        }

      @-webkit-keyframes AnimationButton {
          0%{background-position:49% 0%}
          50%{background-position:52% 100%}
          100%{background-position:49% 0%}
      }
      @-moz-keyframes AnimationButton {
          0%{background-position:49% 0%}
          50%{background-position:52% 100%}
          100%{background-position:49% 0%}
      }
      @keyframes AnimationButton { 
          0%{background-position:49% 0%}
          50%{background-position:52% 100%}
          100%{background-position:49% 0%}
      }
    .lg-wpr{
        padding :80px 0 100px 0;
        }
		
		.lg-wpr1{
        padding :50px 0 50px 0;
        }

        .reg-heading{
        color: #fff;
        font-size: 24px;
        margin-bottom: 5px;
        }

    .reg-sub-heading{
        color:#fff;
        font-size: 14px;
        }

    .text-white{
        color: #fff;
        }

    .mr-bt-20{
        margin-bottom: 20px;
        }

    #forgot-modal{
        top: 10% ;
        }

    body::-webkit-scrollbar {
        width: 0.4em;
    }
     
    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
     
    body::-webkit-scrollbar-thumb {
      background-color: #353535;
      outline: 1px solid slategrey;
    }

    .fr-heading{
        font-size: 20px;
        }

    #forgot-modal .modal-header{
        background: #f0d20b;
        padding:10px 25px;
        }

    .earth-img{
        position: relative;
        }

    .earth-img img  {
        display: block;
        width: 450px ;
        margin:0 auto;
        }

    #loading{
        -webkit-animation: rotation 10s infinite linear;
        }

    @-webkit-keyframes rotation {
        from {
                -webkit-transform: rotate(0deg);
        }
        to {
                -webkit-transform: rotate(359deg);
        }
    }

    .jio-img{
        position: absolute;
        top: 12%;
        left: 50%;
        margin-left: -115px;
        }

     .jio-img img{
        display: block;
        width: 230px;
        margin: 0 auto;
        }

    .mr-tp-30{
        margin-top: 50px;
        }

    @media screen and (max-width:992px){
	.mbool{display:none;}
        .login-wpr, .login-form{
            width: 100%;
            }

        .mr-tp-30{
            margin-top: 10px;
            }

        .jio-img{
            top: 4%;
            }


      }

	  
	.margn {width:50%; float:left; text-align: center;} 
	.margn1 {width:50%; float:right; text-align: center;}
	
	@media screen and (width:414px){
	.align-items-center {padding:70px 0 0px 0 !important;}
	}

	@media screen and (width:411px){
	.align-items-center {padding:70px 0 0px 0 !important;}
	}
	
	@media screen and (width:375px){
	.align-items-center {padding:70px 0 0px 0 !important;}
	}
	
	@media screen and (width:360px){
	.align-items-center {padding:70px 0 0px 0 !important;}
	}
	
	@media screen and (width:320px){
	.align-items-center {padding:70px 0 0px 0 !important;}
	}

	
    @media screen and (max-width:767px){
    .borddf {margin:10px 6px 10px 33px !important;}
	.copyright-text {font-size: 11px;}
	.footer-links li {margin: 0 2px;}
    .footer-links li a {font-size: .7em !important;   letter-spacing: 0.5px !important;}
	.clor {font-weight: 600 !important; font-size: 30px !important;}
	.lg-wpr1 {padding:30px 0 30px 0;}
	
	.bg-opacity-9{min-height: inherit;}
	.login-container2{min-height: inherit;}
	.margn {width: 50%;}
	.underxxt1 {padding-bottom: 50px;   padding-left: 15px;  padding-right: 15px; width:auto;}
	.underxxt1 h3 {font-size: 18px;}
	
	.lg-wpr {padding: 30px 0 50px 0;}
       .top-bg {background-size: contain;     min-height: inherit;}        
       .login-container{
            padding-right: 15px;
            }

        .login-wpr{
            margin-top:40px;
            width:100%;
            }

        .login-form{
            margin:0 auto;
            width:calc(100% - 2%);
            }

        .login-top img{
            margin-bottom: 15px;
            }

        .copy-right {
            padding: 10px 0 0 0;
            }

        .reg-sub-heading{
            padding-bottom: 20px;
        }   

        .jio-img img{
            display: block;
            width: 180px;
            margin: 0 auto;
            }

        .jio-img{
                left: 58%;
                top: 12%;
            }
      }


	 @media screen and (max-width:768px){
	 .submit-btn {padding: 8px 15px !important;}
	 .footer-links li {font-size: 12px;}
	 .textcct img{width: 70% !important;    margin: 20px 0;}
	 .bothset{margin-bottom:10px;}
.imgicc{width:20%;}	 
	  .top-bg {
    background: url(../images/main-bgr.png) no-repeat;
    background-size: contain;
    min-height: auto;
}
.login-container2{min-height:auto;}
.align-items-center {
    padding:100px 0 20px 0;
}
}

.contennt{margin-top:0px;}
.contennt h2{font-size: 20px;    color: #fff;    margin: 0 0 5px 0; font-weight:600;}
.contennt p{font-size: 13px;    color: #fff;    margin: 0 0 15px 0;  font-weight:normal;   line-height: 20px;}

.bothset{display: flex;}
.textcct{text-align:center;}
.dropbtn {background-color: #efd10b;  color: black;   padding: 2px 20px;  font-size: 15px;  border: none;  border-radius: 20px;
    cursor: pointer;    margin-top: 10px;}
.dropdown {position: relative;    display: inline-block;}

.dropdown-content {display: none;    position: absolute;    background-color: #f9f9f9;    min-width: 160px;    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;	left: 20px;}

.dropdown-content a {color: black;	font-weight:600;	color:#333;    padding: 5px 16px;    text-decoration: none;    display: block;}
.dropdown-content a:hover{background:#efd10b; color:#333;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #999;	color:#fff;}
.borddf{border-radius: 50px;    width: 33px;    border: #bbb solid 2px;    margin: 10px 6px 0 15px;}
.portlet-body{background:#fff;}

/*tr th {border-right: #000 solid 1px;}*/
.table td, .table th {padding: .65rem;  font-size: 14px;     white-space: pre;  color: #000;  vertical-align: top;   border-top: 1px solid #dee2e6;}
